:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #333;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*, *::before, *::after {
  box-sizing: border-box;
}